<template>
  <section class="container">
    {{ $route.params.id }}
  </section>
</template>

<script>

export default {
    data: () => {
        return {
            id: 0,
        }
    },
    components: {
    },
}
</script>
