<template>
    <div class="blockz-tool-sidebar">
        <button class="btn btn-primary" v-on:click="$store.dispatch('blockz/createRow')">Add root row</button>
    </div>
</template>

<script>
export default {
    props: {
    },
    data () {
        return {
        };
    },
    methods: {
    },
}
</script>
