<template>
    <div class="blockz-toolbar">
        <ul class="blockz-toolbar-list">
            <li><a class="blockz-toolbar-draggable-handle blockz-draggable-handle">Move</a></li>
            <li><a class="blockz-toolbar-remove-block-button" v-on:click="removeBlock">Delete</a></li>
            <slot name="menu"></slot>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        block: {
            type: Object,
        }
    },
    methods: {
        addBlock(type) {
            this.$store.dispatch('blockz/createBlock', {
                data: {
                    type: 'block-row',
                },
            });
        },
        removeBlock () {
            this.$store.dispatch('blockz/removeBlock', { block: this.block })
        },
    },
}
</script>
