<template>
    <div>
        <div v-on:click="edit">
            {{ content }}
        </div>
        <input type="text" v-model="content" v-if="isEditing">
    </div>
</template>

<script>

export default {
    data () {
        return {
            isEditing: false,
        };
    },
    props: {
        block: {
            type: Object,
        },
    },
    computed: {
        content: {
            get () {
                if (!this.block.content) {
                    return '-- Klicka för att redigera --';
                }
                return this.block.content;
            },
            set (content) {
                Vue.set(this.block, 'content', content)
            },
        },
    },
    methods: {
        edit () {
            this.isEditing = true;
        }
    },
}
</script>