<template>
    <dnd-draggable
        :class="[
            'blockz-draggable-item',
            'blockz-editable',
            'blockz-column',
            'col-lg-' + this.block.settings.size
        ]"
        ref="coko"
    >
        <toolbar 
            :block="block"
        >
            <template v-slot:menu>
                <li><a v-on:click="addText">Add Text</a></li>
            </template>
        </toolbar>
        
        <div class="blockz-resize-handle blockz-resize-handle-right"
            v-dragged="onDragged"
        ></div>

        <dnd-container
            drag-handle-selector=".blockz-draggable-handle"
            @drop="moveBlock"
            :get-child-payload="(index) => block.children[index]"
            :should-accept-drop="shouldAcceptDrop"
        >
            <block
                v-for="(child, key) in block.children"
                :key="key"
                :block="child"
            ></block>
        </dnd-container>
    </dnd-draggable>
</template>

<script>
import Vue from 'vue';
import VueDraggableResizable from 'vue-draggable-resizable';
import 'vue-draggable-resizable/dist/VueDraggableResizable.css';

export default {
    components: {
        VueDraggableResizable,
    },
    props: {
        block: {
            type: Object,
        },
    },
    data () {
        return {
            previousMouseX: 0,
            columnWidth: 0,
        };
    },
    computed: {
        size: {
            get () {
                return this.block.settings.size || 2;
            },
            set (size) {
                this.$store.commit('blockz/modifyBlock', {
                    target: this.block.settings,
                    prop : 'size',
                    value: size,
                })
            },
        },
    },
    methods: {
        shouldAcceptDrop(src, payload) {
            return true;
        },
        addText () {
            this.$store.dispatch('blockz/createBlock', {
                block: this.block,
                config: {
                    type: 'block-text',
                },
            });
        },
        onDragged ({ el, deltaX, deltaY, offsetX, offsetY, clientX, clientY, first, last }) {

            if (first) {
                this.previousMouseX = clientX;
            }

            let movedInX = clientX - this.previousMouseX;
            if (movedInX > this.columnWidth) {
                if (this.size < 12) {
                    this.size += 1;
                    this.previousMouseX += this.columnWidth;
                }
            } else if (movedInX < -this.columnWidth) {
                if (this.size > 1) {
                    this.size -= 1;
                    this.previousMouseX -= this.columnWidth;
                }
            }
        },
        windowResized (event) {
            this.columnWidth = this.$refs.coko.$el.offsetWidth / this.block.settings.size;
        }
    },
    mounted () {
        window.addEventListener('resize', this.windowResized);
        this.windowResized();
    },
}
</script>

<style lang="scss" scoped>
    .blockz-column {
        padding: 30px;
        border: 1px solid #ccc;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
