<template>
    <dnd-draggable :class="[
        'blockz-draggable-item',
        'blockz-editable',
    ]">
        <toolbar 
            :block="block"
        >
            <template v-slot:menu>
                <li><a v-on:click="createBlock">Add column</a></li>
            </template>
        </toolbar>

        <dnd-container
            :class="[
                'row',
            ]"
            orientation="horizontal"
            drag-handle-selector=".blockz-draggable-handle"
            @drop="moveBlock"
            :get-child-payload="(index) => block.children[index]"
            :should-accept-drop="shouldAcceptDrop"
        >
            <block-column
                v-for="(child, key) in block.children"
                :key="key"
                :block="child"
            ></block-column>
        </dnd-container>
    </dnd-draggable>
</template>

<script>
export default {
    components: {
    },
    props: {
        block: {
            type: Object,
        },
        index: {
            type: Number,
        },
    },
    computed: {
        
    },
    methods: {
        shouldAcceptDrop(src, payload) {
            return payload.type == 'block-column';
        },
        createBlock () {
            this.$store.dispatch('blockz/createColumn', {
                target: this.block,
            });
        },
    },
}
</script>

<style lang="scss" scoped>
    .row {
        margin: 20px 0;
        padding: 20px;
    }
</style>
