<template>
    <div class="blockz-main">
        <tool-sidebar></tool-sidebar>
        <dnd-container
            :class="[
                'blockz-main-content'
            ]"
            drag-handle-selector=".blockz-draggable-handle"
            @drop="moveBlock"
            :get-child-payload="(index) => block.children[index]"
            :should-accept-drop="shouldAcceptDrop"
        >
            <block-row
                v-for="(child, key) in block.children"
                :key="key"
                :index="key"
                :block="child"
            ></block-row>
        </dnd-container>
    </div>
</template>

<script>
import toolSidebar from '~/components/tools/sidebar.vue';

export default {
    components: {
        toolSidebar,
    },
    props: {
    },
    computed: {
        block () {
            return this.$store.state['blockz'].blocks.root;
        },
    },
    methods: {
        shouldAcceptDrop(src, payload) {
            return payload.type == 'block-row';
        },
    },
}
</script>

<style lang="scss">
    $sidebar-width: 250px;
    * {
        box-sizing: border-box;
    }

    .blockz-main-content {
        width: calc(100% - #{$sidebar-width});
    }

    .blockz-tool-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: $sidebar-width;
        height: 100%;
        background: rgba(#000, 0.8);
        z-index: 11;
        padding: 20px;
    }

    .blockz-editable {
        //transition: border 0.3s;
        border: 1px solid #fff0d5;
        &:hover {
            border-color: orange;
            .blockz-toolbar-list {
                opacity: 1;
            }
        }  
    }

    .blockz-draggable-item {
        position: relative;
        /*
        ********* WARNING********
        * OVERFLOW: VISIBLE OVERRIDES dnd's ORIGINAL STYLE
        * THIS MUST BE TESTEED
        */
        overflow: visible !important;
    }

    .blockz-toolbar-list {
        //transition: all 0.3s;
        position: absolute;
        bottom: 100%;
        left: 0;
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 10px;
        background: orange;
        opacity: 0.2;
        a {
            cursor: pointer;
        }
        > li {
            margin: 0;
            padding: 0 10px;
            white-space: nowrap;
            & + li {
                border-left: 1px solid darkorange;
            }
        }
    }

    .blockz-draggable-handle {
        cursor: move !important;
    }

    .blockz-resize-handle {
        transition: all 0.3s;
        position: absolute;
        top: 10%;
        height: 80%;
        width: 4px;
        background: #ccc;
        border-radius: 2px;
        cursor: col-resize;
    }

    .blockz-resize-handle-right {
        left: 100%;
        transform: translateX(-50%);
    }
    
    .row {
        display: flex !important;
    }

    .smooth-dnd-container.horizontal {
        min-width: 0;
        min-height: 0;
        > .smooth-dnd-draggable-wrapper {
            display: block;
        }
    }
</style>
