<template>
  <section class="container">
    <content-builder></content-builder>
  </section>
</template>

<script>
import contentBuilder from '~/components/content-builder.vue';
export default {
    components: {
      contentBuilder,
    },
    fetch ({store, params}) {
        for (var i = 0; i < 3; i++) {
            //store.dispatch('blockz/createRow');
        }
    },
}
</script>
