<template>
    <dnd-draggable
        :class="[
            'blockz-draggable-item',
            'blockz-editable',
            'blockz-block',
        ]"
    >
        <toolbar 
            :block="block"
        >
            <template v-slot:menu>
                
            </template>
        </toolbar>
        <component
            :is="block.type"
            :block="block"
        ></component>
    </dnd-draggable>
</template>

<script>
export default {
    components: {
    },
    props: {
        block: {
            type: Object,
        },
    },
    computed: {
        
    },
    methods: {

    },
    mounted () {
    }
}
</script>

<style lang="scss" scoped>
    .blockz-block {
        padding: 20px;
    }
</style>