<template>
    <div>
        <block
            v-for="(block, key) in blocks"
            :key="key"
            :block="block"
        ></block>
    </div>
</template>

<script>
export default {
    props: {
        blocks: {
            type: Array,
        },
    },
}
</script>